<header class="header">
  <div class="container">
    <nav class="header__nav">

      <div class="header__nav__logo">
        <a href="#">
            <img src="assets/img/logo.png" alt="logo">
        </a>
      </div>
      <input type="checkbox" id="nav" class="hidden" />
      <label for="nav" class="nav-open">
        <span></span>
        <span></span>
        <span></span>
      </label>
      <div class="header__nav__container nav-container">
        <ul>
          <li><a href="#">Work</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>